<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Portfolio II - Projects</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <p><a href="/">Home</a> | <a href="projects">Projects</a> | <a href="contact">Contact</a></p>
        </div>
        <div class="content">
            <h1>Here are some projects of mine!</h1>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/imgs/forest.jpeg" class="card-img" alt="forest image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Project 1</h5>
                            <p class="card-text" style="font-size: 14px">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem itaque doloremque, sit, vero sint voluptas quo facilis sapiente, doloribus nesciunt alias enim. Nisi vitae eum reiciendis sit odit est numquam?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/imgs/mountain.jpeg" class="card-img" alt="mountain image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Project 2</h5>
                            <p class="card-text" style="font-size: 14px">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis quibusdam, asperiores doloribus voluptate nisi eaque iure. Cumque voluptatibus unde nam mollitia nobis nisi tempore minus laudantium sint quibusdam, dolore dicta?</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="~/imgs/sea.jpeg" class="card-img" alt="sea image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Project 3</h5>
                            <p class="card-text" style="font-size: 14px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi laboriosam esse aut ipsa quaerat ea minus, veniam consequatur voluptates officiis sit aliquam, delectus alias nam nulla ipsum deleniti sunt modi.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>