<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <p>Random Word (attempt#{{request.session.temp}})</p>
        <div class="text">
            <h2>{{request.session.random}}</h2>
        </div>
        <div class="but">
            <form action="/gen">
                <input class="gen" type="submit" value="Generate">
            </form>
            <form action="/reset">
                <input class="res" type="submit" value="Reset">
            </form>
        </div>
    </div>
</body>
</html>