@{
    ViewData["Title"] = "Home Page";
}

@model List<Product>

<div class="content">
    <br /><br />
    <h4>All Products</h4>
    <br />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach ( var product in Model)
            {
                <tr>
                    <td><a href="product/@product.ProductId">@product.Name</a></td>
                    <td>@product.Description</td>
                    <td>@product.Price.ToString("0.00")</td>
                    <td>
                        <ul>
                            @foreach ( var category in product.CategoryGroup )
                            {
                                <li><a href="category/@category.CategoryId">@category.Category.Name</a></li>
                            }
                        </ul>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
