body {
    font-family: Arial, Helvetica, sans-serif;
}

.span_blue {
    color: blue;
}

.span_blue2 {
    color: rgb(79, 192, 245);
}

.span_bold {
    font-weight: bolder;
}

.span_red {
    color: red
}

.container {
    width: 970px;
    min-height: 1000px;
    margin: 0 auto;
    background-image: linear-gradient(#e5e5e5, white 95%);
}

.header {
    width: 970px;
    height: 80px;
    background-color: white;
}

    .header img {
        height: 100px;
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
    }

    .header h1 {
        display: inline-block;
        font-size: 40px;
        margin-left: 5px;
    }

    .title_bar {
        background-color: #3470a3;
        color: white;
        height: 35px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 10px;
        padding-left: 20px;
        padding-bottom: 10px;
        font-size: 30px;
    }

.sidebar {
    width: 180px;
    margin-left: 20px;
    display: inline-block;
    vertical-align: top;
}

    .sidebar h2 {
        font-size: 16px;
    }

    .sidebar h4 {
        font-size: 12px;
    }

    .button_video {
        background-color: #3470a3;
        color: white;
        width: 160px;
        height: 25px;
        text-align: center;
        border-radius: 5px;
        font-size: 15px;
        padding-top: 10px;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .button_more {
        background-color: #ef7d00;
        color: white;
        width: 160px;
        height: 25px;
        text-align: center;
        border-radius: 5px;
        font-size: 15px;
        padding-top: 10px;
        margin-top: 0px;
        margin-left: 10px;
    }

    .line {
        height: 1px;
        width: 160px;
        background-color: black;
        margin-left: 10px;
    }

    .banner {
        background-image: url(./images/ad_background.png);
        height: 240px;
        text-align: center;
        padding-top: 5px;
    }

    .banner h2 {
        color: white;
        font-size: 18px;
        padding: 0px 1px;
    }

    .banner img {
        width: 60px;
    }

    .banner p {
        background-color: lightskyblue;
        color: white;
        border-radius: 5px;
        width: 140px;
        height: 20px;
        margin-left: 20px;
    }

.middle {
    display: inline-block;
    width: 700px;
    margin-left: 40px;
}

    .mid_top img {
        width: 20px;
        margin-top: 10px;
        display: inline-block;
        vertical-align: top;
    }

    .mid_top p {
        display: inline-block;
    }

    .mid_top_right {
        width: 200px;
        float: right;
        text-align: right;
    }

    .mid_top_left {
        width: 500px;
        display: inline-block;
    }

    .mid_top_right p {
        margin: 0;
        display: inline-block;
        font-size: 10px;
        padding: 0;
    }

    .text_phone {
        color: rgb(79, 192, 245);
        font-size: 30px;
        font-weight: bolder;
        margin: 0;
        padding: 0;
    }

    .phone_photo {
        float: right;
    }

    .line2 {
        background-color: gray;
        height: 1px;
        width: 720px;
        margin-top: 30px;
    }

    .mid_mid img {
        width: 220px;
        margin-left: 230px;
    }

    .mid_mid h2 {
        font-size: 18px;
        color: #3470a3;
    }

    .mid_mid p {
        font-size: 14px;
    }

    .mid_bottom {
        width: 710px;
        height: 170px;
        background-color: white;
        border: 5px solid blue;
        margin-top: 0px;
    }

    .mid_bottom img {
        width: 150px;
        margin: 15px;
        display: inline-block;
        vertical-align: top;
    }

    .content {
        width: 520px;
        display: inline-block;
    }

    .content h2 {
        color: #3470a3;
        font-size: 18px;
    }

    .content h4 {
        font-size: 12px;
    }