<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <title>Dojo Survey Index</title>
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="row">
                <div class="col-4"></div>
                <div class="col">
                    <h2>Submitted Info</h2>
                    <table class="table table-borderless">
                        <tbody>
                            <tr>
                                <td>Name:</td>
                                <td>@ViewBag.Name</td>
                            </tr>
                            <tr>
                                <td>Dojo Location:</td>
                                <td>@ViewBag.Location</td>
                            </tr>
                            <tr>
                                <td>Favorite Language:</td>
                                <td>@ViewBag.Favorite</td>
                            </tr>
                            <tr>
                                <td>Comment:</td>
                                <td>@ViewBag.Comment</td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="/"><button class="btn btn-primary" style="float: right">Go Back</button></a>
                </div>
                <div class="col-4"></div>
            </div>
        </div>
        
    </div>
</body>
</html>