<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form Application</title>
</head>
<body>
    <h1>Index Page</h1>
    <h3>Create a User</h3>
    <form action='/users' method='post'>
        {% csrf_token %}
        Name: <input type='text' name='name'>
        Email: <input type='text' name='email'>
        Password: <input type="password" name="password" id="">
        Gender: <input type="radio" name="gender" id="" value="male">Male <input type="radio" name="gender" id="" value="female"> Female
        <button type='submit'>Create User'<button>
    </form>
</body>
</html>