<div class="content">
    <br /><br />
    <h2>Welcome to the Dojo Activity Center</h2>
    <br />
    <div class="row">
        <div class="col">
            <partial name="_Register"/>
        </div>
        <div class="col">
            <partial name="_Login" />
        </div>
    </div>
</div>